table {
  border-collapse: collapse;
  margin-top: 17%;
  position: relative;
  text-align: center;
  z-index: 90;
}

thead {
  color: white;
}

tbody {
  color: #2fc18c;
}

table , th , td {
  padding: 15px;
}


tr {
  font-weight: 700;
  padding: 10px;
}

tr:nth-last-of-type( even ) {
  border-bottom: 2px solid #2fc18c;
  border-top: 2px solid #2fc18c;
}

th {
  border-bottom: 2px solid white;
  border-collapse: separate;
  border-right: 1px solid white;
  margin-bottom: 30px;
}

th:last-child {
  border-right: none;
}

table button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
